# compiled output
/dist
/node_modules
/build

# logs
logs
*.log
npm-debug.log*

# environment
.env
.env.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store

# tests
/coverage
.nyc_output

# misc
*.tsbuildinfo
